In [1]:
import numpy as np
import pandas as pd

In [2]:
Team1 = {'Name':'Manchester City','Win':28,'Draw':5,'Lose':5}
Team2 = {'Name':'Arsenal','Win':26,'Draw':6,'Lose':6}
Team3 = {'Name':'Manchester United','Win':23,'Draw':6,'Lose':9}
Team4 = {'Name':'Newcastle','Win':19,'Draw':14,'Lose':5}
Team5 = {'Name':'Liverpool','Win':19,'Draw':10,'Lose':9}

df = pd.DataFrame([Team1,Team2,Team3,Team4,Team5])
print(df)

                Name  Win  Draw  Lose
0    Manchester City   28     5     5
1            Arsenal   26     6     6
2  Manchester United   23     6     9
3          Newcastle   19    14     5
4          Liverpool   19    10     9

In [3]:
df['Undefeted'] = df['Win'] + df['Draw']
df

                Name  Win  Draw  Lose  Undefeted
0    Manchester City   28     5     5         33
1            Arsenal   26     6     6         32
2  Manchester United   23     6     9         29
3          Newcastle   19    14     5         33
4          Liverpool   19    10     9         29

In [4]:
df.iloc[2,3]

9

In [5]:
print(np.sum(df['Win'],axis=0))

115